.app {
  display: grid;
  grid-template-areas: "example example" "tablist modifiers" "editor finalcode";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 2rem auto;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
